.imgSize{
  max-height: 525px;
}

nav.navigation{
background-color: #000;
border-color: #000;
border-radius: 0px;
}

nav.navigation ul li a{
  cursor: pointer;
}

.navigation .container ul li a{
  color: #fff;
}

.navigation .container div a{
  color: #fff;
  font-weight: bold;
}

.searchBar{

  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.logo{
  margin: 0px;
}

.main-title{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

img{
  max-width: 250px;
  max-height: 360px;
  min-width: 200px;
  max-width: 310px;
}

h3{
  font-size: 20px;
  height: 40px;
  text-align: center;
}

.film-modal{
  margin-top: 150px;
}

.modal-list{
  list-style: none;
}

.modal-list:first-of-type{
  text-align: justify;
}

.progress{
  padding:0px;
  margin-left: 15px;
}

.modal-button{
  height: 30px;
  font-size: 16px;
  line-height: 0px;
  margin-top: 20px;
}

.custom-input.form-control.ng-pristine.ng-untouched.ng-valid.ng-empty{
   border-radius: 5px;
 }

div.film-content{
  -webkit-box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.75);
}
